<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    <link rel="shortcut icon" href="/resources/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<% if (session.user_tema == "oscuro") { %>
    <body class="oscuro">
<% } else { %>
    <body class="claro">
<% } %>
    <main id="cont_main_calendar_dia">
        <aside id="menu_lateral" class="desactive"> <%- include('menu.ejs') %></aside>
        <div id="cont_main">
            <div class="cont_header">
                <div id="cont_fixed_mes">
                    <% const meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", 
                        "Septiembre", "Octubre", "Noviembre", "Diciembre"]; %>
                    <% const diasSemana = ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"]; %>

                <%
                    function Datatime() {
                        const now = new Date();
                
                        const year = now.getFullYear();
                        const month = String(now.getMonth() + 1).padStart(2, '0'); // Mes empieza en 0
                        const day = String(now.getDate()).padStart(2, '0');
                        const hours = String(now.getHours()).padStart(2, '0');
                        const minutes = String(now.getMinutes()).padStart(2, '0');
                        const seconds = String(now.getSeconds()).padStart(2, '0');
                
                        return `${year}-${month}-${day}`;
                    }

                    const dia_actual = Datatime()
                    let mes_para_fs = parseInt(mes,10)+1;
                    mes_para_fs= "0"+mes_para_fs;
                    const fecha_us = `${año}-${mes_para_fs}-${dia}`;
                    function Bisiesto(año) {
                        return (año % 4 === 0 && año % 100 !== 0) || (año % 400 === 0);
                    }
                    const diasPorMes = [31,Bisiesto("año") ? 29 : 28,31,30,31,30,31,31,30,31,30,31];
                    let dia_mandar, mes_mandar, año_mandar, nombre_dia_mandar,mensaje;

                    if (diasPorMes[mes] == dia) { 
                       
                        if (mes === 11) { 
                            mes_mandar = parseInt(0); 
                            año_mandar = parseInt(año) + 1;
                            dia_mandar = parseInt(1);
                        } else {
                            mensaje="ss2"
                            mes_mandar = parseInt(mes) + 1; 
                            año_mandar = parseInt(año);
                            dia_mandar = parseInt(1);
                            }
                    } else { // Día siguiente dentro del mismo mes
                        mensaje="ff"
                        mes_mandar = parseInt(mes);
                        año_mandar = parseInt(año);
                        dia_mandar = parseInt(dia) + 1;
                    }

                    // Obtener el nombre del día
                    const currentDate = new Date(año_mandar, mes_mandar, dia_mandar);
                    nombre_dia_mandar = currentDate.getDay();
                %>
                <%
                let dia_enviar_menos, mes_enviar_menos, año_enviar_menos, nombre_dia_enviar_menos;
              
                if (dia == 1) {
                  if (mes == 0) { // Caso de enero (mes 0)
                    mes_enviar_menos = 11; 
                    año_enviar_menos = parseInt(año) - 1;
                    dia_enviar_menos = parseInt(diasPorMes[mes_enviar_menos]); 
                  } else {
                    mes_enviar_menos = parseInt(mes) - 1; 
                    año_enviar_menos = parseInt(año);
                    dia_enviar_menos = parseInt(diasPorMes[mes_enviar_menos]); 
                  }
                } else { // Día normal dentro del mes
                  mes_enviar_menos = parseInt(mes);
                  año_enviar_menos = parseInt(año);
                  dia_enviar_menos = parseInt(dia) - 1;
                }
              
                // Obtener el nombre del día
                const currentDate_menos = new Date(año_enviar_menos, mes_enviar_menos, dia_enviar_menos);
                nombre_dia_enviar_menos = currentDate_menos.getDay();
              %>
              
                    <div id="cont_dias_flechas">
                       
                        <a href="/calendar_dia?dia=<%= dia_enviar_menos %>&mes=<%= mes_enviar_menos %>&nombre_dia=<%= nombre_dia_enviar_menos %>&año=<%= año_enviar_menos%>">
                            <i class="fa-solid fa-chevron-left"></i>
                        </a>
                        <a href="/calendar_dia?dia=<%= dia_mandar %>&mes=<%= mes_mandar %>&nombre_dia=<%= nombre_dia_mandar %>&año=<%= año_mandar%>">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                  
                    <div class="cont_dia">
                        <span class="nombre_dia"><%- diasSemana[nombre_dia] %></span>
                        <% if(dia_actual == fecha_us){ %>
                            <span class="dia actual"><%- dia %></span>
                        <%} else{ %>
                           
                            <span class="dia"><%- dia %></span>
                        <%}%>
                       
                        
                    </div>
                    <div id="cont_dias">
                        <span id="mes"><%- meses[mes] %></span>
                        <span id="año"><%- año %></span>
                    </div>
                   
                </div>
            </div>
            

            
            <% if (results_dia_apagado_desac && results_dia_apagado_desac.length > 0) { %>
            <% if ( results_dia_apagado_desac[0].hora_inicio === "00:00:00" &&
                        results_dia_apagado_desac[0].hora_fin === "24:00:00" &&
                        results_dia_apagado_desac[0].desac_total == 1) { %>
               <div class="desactivado_cont">
                <h2>EL TIMBRE ESTA DESACTIVADO, POR LO TANTO NO SONARA EN EL DÍA DE HOY, A MENOS QUE LO VUELVA A ACTIVAR    </h2>
                <section id="calendar_dia" class="desactivado">
                    <% } %> 
                <% } else { %>
                    <div class="activado_cont">
                    <section id="calendar_dia" class="activo">
                    <% } %>
         
                <% for (let i = 0; i < 24; i++) {
                    const hour = i === 0 ? 12 : (i <= 12 ? i : i - 12);
                    const displayHour = i === 0 ? "12 AM" : i < 12 ? i + " AM" : (i === 12 ? "12 PM" : (i - 12) + " PM");
                %>

                <div class="horario" data-hora="<%= hour %>">
                    <h4 class="hour-item"><%= displayHour %></h4>
                      
                  
          
                    <% if (diasSemana[nombre_dia] !== "Sab" && diasSemana[nombre_dia] !== "Dom") { %>
                        <% 
                        combinedResults.forEach((horario) => {
                            const getMinutesFromTime = (time) => time.split(":")[1];
                            const getHourFromTime = (time) => time.split(":")[0];
                            const horaInicio = getHourFromTime(horario.HoraInicio || horario.Horario || "00:00:00");    
                            if (parseInt(horaInicio, 10) === i) {
                        %>
                        <div class="cont_horario_timbre <%= horario.type === 'event' ? 'evento' : 'fijo' %> s<%= horario.duracion %> <%= horario.Activo == '1' ? '' : 'desac' %>">
                           
                            <h5 class="nombre_actividad"><%= horario.NombreHorario || horario.NombreEvento %></h5>
                            <h5><%= horario.HoraInicio || horario.Horario %> </h5>
                            <div class="cont_icons" data-nombre="<%= horario.NombreHorario || horario.NombreEvento %>" 
                                data-horario="<%= horario.HoraInicio || horario.Horario %>" 
                                data-duracion="<%= horario.duracion || horario.Duracion %>" 
                                data-FechaCreacion="<%= horario.FechaCreacion || horario.Fecha %>">
                              
                                <form action="/eliminar_horario_dia" method="post">
                                    <input type="text" name="dia_enviar" class="desac" value="<%-dia%>">
                                    <% const mes_enviar_act = parseInt(mes)+1%>
                                    <input type="text" name="aw" class="desac" value="<%-mes%>">
                                    <input type="text" name="mes_enviar" class="desac" value="<%-mes_enviar_act%>">
                                    <input type="text" name="semana_enviar" class="desac" value="<%-nombre_dia%>">
                                    <input type="text" name="año_enviar" class="desac" value="<%-año%>">
                                    <% if (horario.type === 'event') { %>
                                        <input type="text" name="type" value="<%= horario.type %>" class="desac">
                                        <input type="text" name="id_horario" value="<%= horario.EventoID %> " class="desac">
                                    <% } else { %>
                                        <input type="text" name="type" value="<%= horario.type %>" class="desac">
                                        <input type="text" name="id_horario" value="<%= horario.HorarioID %>" class="desac">
                                    <% } %>

                                    <button type="submit">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <% 
                            }
                        });
                        %>
                    <% } %>
                </div>
                <% } %>
            </section>
            </div>
        </div>
        <div id="cont_horario_nuevo">
            <i class="fa-solid fa-plus"></i>
        </div>
    </main>
   

    <div id="conts_form">
        <form action="/form_enviar_horario" method="post"  id="form_enviar_horario" class="forms_class">
            <h4>Agregar horario para el dia <%-dia%> de <%-meses[mes]%></h4>
            <!-- <div class="cont_opciones">
                <span class="btn_agregar_opc active">Agregar horario</span>
                <span class="btn_desac_opc">Desactivar timbre</span>
            </div> -->
            <input type="text" name="dia_enviar" class="desac" value="<%-dia%>">
            <input type="text" name="mes_enviar" class="desac" value="<%-mes%>">
            <input type="text" name="semana_enviar" class="desac" value="<%-nombre_dia%>">
            <input type="text" name="año_enviar" class="desac" value="<%-año%>">

            <input type="text" class="desac" name="fecha_enviar" value="<%-año%>-<%-mes_enviar%>-<%-dia%>">
            
            <div class="cont_input">
                <input type="text" id="input_name_horario_enviar" name="input_name_horario_enviar" placeholder="Nombre del evento"
                    required>
            </div>
            <div class="cont_input">
                <input type="text" id="Descripcion" name="Descripcion" placeholder="Descripción del evento" required>
            </div>
            <div class="cont_input">
                <input type="time" id="activity_time_enviar" name="activity_time_enviar" required>
            </div>
         
            <div class="cont_botones">
                <button type="submit" id="enviar">Guardar</button>
                <button type="button" class="close_form">Cancelar</button>
            </div>
        </form>
        <!-- <form action="/form_enviar_horario_dia_apagado" method="post"  id="form_enviar_horario_apagado" class="forms_class">
            <h4>Desactivar timbre por horario para el dia <%-dia%> de <%-meses[mes]%></h4>
            <div class="cont_opciones">
                <span class="btn_agregar_opc">Agregar horario</span>
                <span class="btn_desac_opc active">Desactivar timbre</span>
            </div>
            <input type="text" name="dia_enviar" class="desac" value="<%-dia%>">
            <input type="text" name="mes_enviar" class="desac" value="<%-mes%>">
            <input type="text" name="semana_enviar" class="desac" value="<%-nombre_dia%>">
            <input type="text" name="año_enviar" class="desac" value="<%-año%>">

            <input type="text" class="desac" name="fecha_enviar" value="<%-año%>-<%-mes_enviar%>-<%-dia%>">
            <div class="cont_input">
                <label for="">Hora de inicio</label>
                <input type="time" id="hora_inicio" name="hora_inicio" required>
            </div>
            <div class="cont_input">
                <label for="">Hora de finalización</label>
                <input type="time" id="hora_fin" name="hora_fin"  required>
            </div>
         
            <div class="cont_botones">
                <button type="submit" id="enviar">Guardar</button>
                <button type="button" class="close_form">Cancelar</button>
            </div>
        </form> -->
    </div>
    

    <script src="js/calendario_dia.js"></script>
</body>

</html>