<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    <link rel="shortcut icon" href="/resources/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<% if (session.user_tema == "oscuro") { %>
    <body class="oscuro">
<% } else { %>
    <body class="claro">
<% } %>
    <main>
        <aside id="menu_lateral" class="desactive"> <%- include('menu.ejs') %></aside>
        <div id="cont_main">
            
            <div id="cont_text_info">
                <h1 id="text_main_horarios_fijos">Horarios fijos</h1>
                <h3 id="text_query">Que son los horario fijos?</h3>
                <div class="cont_text_query desactive">
                    <p>Los  horario fijos son los horarios en los que el timbre va a sonar todos los dias del año, de lunes a viernes.</p>
                </div>
            </div>
            <section id="cont_horarios_fijos">



                <% results.forEach(actividad=> { %>

                    <div class="cont_horario">

                        <input type="text"  value="<%-actividad.HorarioID -%>" class="desac HorarioID">
                        <div class="cont_text">
                            <div class="cont_sub_text">
                                <h4 class="nombre_horario">
                                    <%-actividad.NombreHorario -%>
                                </h4>
                                <p class="hora">
                                    <%-actividad.HoraInicio -%>
                                </p>
                            </div>
 
                            <p class="duracion">
                                Duracion:
                                <%-actividad.duracion -%>s
                            </p>
                        </div>


                        <div class="cont_butones">

                            <button class="editar">
                                Editar</button>
                            <form action="/eliminar_horario_fijo/" method="post">
                                <input type="text" id="input_id" class="desac" name="input_id"
                                    value="<%-actividad.HorarioID -%>">
                                <button type="submit" class="eliminar">
                                    Borrar</button>
                            </form>


                        </div>

                    </div>
                    <% }) %>
                        <button id="boton_agregar">Agregar más horarios</button>
            </section>
        </div>

    </main>

</body>

<div id="conts_form">
    <form action="agregar_horario_fijo" method="post" id="agregar_horario_fijo" class="forms_class">
        <h4>Agregar horario</h4>
        <div class="cont_input">
            <input type="text" id="input_name_horario" name="input_name_horario" placeholder=" Nombre del timbre"
                required>
        </div>
        <div class="cont_input">
            <input type="time" id="input_horario" name="input_horario" placeholder="Horario del timbre" required>
        </div>
        <div class="cont_input">
            <input type="number" id="input_duracion" name="input_duracion" placeholder="Duracion del sonido" min="1"
                required>
        </div>
        <div class="cont_botones">
            <button type="submit" id="enviar">Guardar</button>
            <button type="button" id="close_form_agregar">Cancelar</button>
        </div>
    </form>

    <form action="/editar_horario_fijo" method="post" id="editar_horario_fijo" class="forms_class">
        <h4>Editar Horario</h4>

        <!-- Campo input_id (asegúrate de que tiene un name correcto) -->
        <input type="text" class="desac" id="input_id" name="input_id">

        <div class="cont_input">
            <label for="input_name_horario">Nombre del horario</label>
            <input type="text" id="input_name_horario" name="input_name_horario" placeholder="Nombre del horario"
                required>
        </div>
        <div class="cont_input">
            <label for="input_horario">Horario del timbre</label>
            <input type="time" id="input_horario" name="input_horario" placeholder="Horario del timbre" required>
        </div>
        <div class="cont_input">
            <label for="input_duracion">Duración del sonido</label>
            <input type="number" id="input_duracion" name="input_duracion" placeholder="Duración del sonido" min="1"
                required>
        </div>
        <div class="cont_botones">
            <button type="submit" id="enviar">Guardar</button>
            <button type="button" id="close_form_editar">Cancelar</button>
        </div>
    </form>


</div>


<script src="js/horarios_fijos.js"></script>

</html>